<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <service
            android:name="com.example.musicplayer.playbackservice.BackgroundAudioService"
            android:process=":externalProcess"></service>
        <receiver android:name=".playbackservice.MusicPlayerBroadcastLisener">
            <intent-filter>
                <action android:name="com.example.musicplayer.ACTION_PLAY" />
                <action android:name="com.example.musicplayer.ACTION_PAUSE" />
                <action android:name="com.example.musicplayer.ACTION_STOP" />
                <action android:name="com.example.musicplayer.ACTION_PLAYLIST" />
            </intent-filter>
        </receiver>

    </application>
</manifest>